
#carta{
    width: 21.5rem;
    height: 21.5rem;
}

#pHolder{
    flex: 1 1 auto;
    min-width: 20rem;
    max-width: 17rem;
    margin-bottom: 3em;
}

.placeholdersCentral{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
}

#navbar{
    padding: 1em;
    background-color:rgb(210, 173, 173);
}
